div {
  &.card {
    background: #fff;
    width: 25rem;
    height: 31.6875rem;
    position: relative;

    border-radius: 1.25rem;
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
}
