@font-face {
  font-family: Montserrat-medium;
  src: url("../../../assets/font/MontserratPoppins/Montserrat/montserrat/Montserrat-Medium.ttf");
}

section {
  &.section {
    font-family: Montserrat-medium;

    .loading {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-family: montserrat-medium;
    }
  }
}
