.app-bar {
  background-color: white !important;
  .container {
    background-color: white;
    .tool-bar {
      padding: 0.9rem;
      display: flex;
    }
    
    .setting-box {
      .profile-div {
        
      }
    }
  }
}
