@use "../../global/color" as *;

@font-face {
  font-family: montserrat-medium;
  src: url("../../../assets/font/MontserratPoppins/Montserrat/montserrat/Montserrat-Medium.ttf");
}

section {
  &.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
