$white: hsl(0, 0%, 100%);
$white-100: hsla(0, 0%, 100%, 0.1);
$white-200: hsla(0, 0%, 100%, 0.2);
$white-300: hsla(0, 0%, 100%, 0.3);
$white-400: hsla(0, 0%, 100%, 0.4);
$white-500: hsla(0, 0%, 100%, 0.5);
$white-600: hsla(0, 0%, 100%, 0.6);
$white-700: hsla(0, 0%, 100%, 0.7);
$white-800: hsla(0, 0%, 100%, 0.8);
$white-900: hsla(0, 0%, 100%, 0.9);

$black: hsl(234, 19%, 21%);
$black-100: hsla(234, 20%, 21%, 0.1);
$black-200: hsla(234, 20%, 21%, 0.2);
$black-300: hsla(234, 20%, 21%, 0.3);
$black-400: hsla(234, 20%, 21%, 0.4);
$black-500: hsla(234, 20%, 21%, 0.5);
$black-600: hsla(234, 20%, 21%, 0.6);
$black-700: hsla(234, 20%, 21%, 0.7);
$black-800: hsla(234, 20%, 21%, 0.8);
$black-900: hsla(234, 20%, 21%, 0.9);
$black-1000: hsla(234, 20%, 21%, 1);

$gray: hsl(247, 14%, 38%);
$gray-100: hsla(246, 12%, 32%, 0.1);
$gray-200: hsla(246, 12%, 32%, 0.2);
$gray-300: hsla(246, 12%, 32%, 0.3);
$gray-400: hsla(246, 12%, 32%, 0.4);
$gray-500: hsla(246, 12%, 32%, 0.5);
$gray-600: hsla(246, 12%, 32%, 0.6);
$gray-700: hsla(246, 12%, 32%, 0.7);
$gray-800: hsla(246, 12%, 32%, 0.8);
$gray-900: hsla(246, 12%, 32%, 0.9);

$purple: hsl(252, 98%, 67%);
$purple-100: hsla(252, 98%, 67%, 0.1);
$purple-200: hsla(252, 98%, 67%, 0.2);
$purple-300: hsla(252, 98%, 67%, 0.3);
$purple-400: hsla(252, 98%, 67%, 0.4);
$purple-500: hsla(252, 98%, 67%, 0.5);
$purple-600: hsla(252, 98%, 67%, 0.6);
$purple-700: hsla(252, 98%, 67%, 0.7);
$purple-800: hsla(252, 98%, 67%, 0.8);
$purple-900: hsla(252, 98%, 67%, 0.9);

$purple2: hsl(259, 42%, 51%);

$purple2-light-100: hsl(259, 42%, 51%, 0.1);
$purple2-light-200: hsl(259, 42%, 51%, 0.2);
$purple2-light-300: hsl(259, 42%, 51%, 0.3);
$purple2-light-400: hsl(259, 42%, 51%, 0.4);
$purple2-light-500: hsl(259, 42%, 51%, 0.5);
$purple2-light-600: hsl(259, 42%, 51%, 0.6);
$purple2-light-700: hsl(259, 42%, 51%, 0.7);
$purple2-light-800: hsl(259, 42%, 51%, 0.8);
$purple2-light-900: hsl(259, 42%, 51%, 0.9);

$purple2-100: hsl(259, 42%, 10%);
$purple2-200: hsl(259, 42%, 20%);
$purple2-300: hsl(259, 42%, 30%);
$purple2-400: hsl(259, 42%, 40%);
$purple2-500: hsl(259, 42%, 50%);
$purple2-600: hsl(259, 42%, 60%);
$purple2-700: hsl(259, 42%, 70%);
$purple2-800: hsl(259, 42%, 80%);
$purple2-900: hsl(259, 42%, 90%);


$linear-blue: hsl(238, 87%, 59%);
$linear-blue-100: hsla(238, 87%, 59%, 0.1);
$linear-blue-200: hsla(238, 87%, 59%, 0.2);
$linear-blue-300: hsla(238, 87%, 59%, 0.3);
$linear-blue-400: hsla(238, 87%, 59%, 0.4);
$linear-blue-500: hsla(238, 87%, 59%, 0.5);
$linear-blue-600: hsla(238, 87%, 59%, 0.6);
$linear-blue-700: hsla(238, 87%, 59%, 0.7);
$linear-blue-800: hsla(238, 87%, 59%, 0.8);
$linear-blue-900: hsla(238, 87%, 59%, 0.9);

$linear-pink: hsl(284, 100%, 45%);
$linear-pink-100: hsla(284, 100%, 45%, 0.1);
$linear-pink-200: hsla(284, 100%, 45%, 0.2);
$linear-pink-300: hsla(284, 100%, 45%, 0.3);
$linear-pink-400: hsla(284, 100%, 45%, 0.4);
$linear-pink-500: hsla(284, 100%, 45%, 0.5);
$linear-pink-600: hsla(284, 100%, 45%, 0.6);
$linear-pink-700: hsla(284, 100%, 45%, 0.7);
$linear-pink-800: hsla(284, 100%, 45%, 0.8);
$linear-pink-900: hsla(284, 100%, 45%, 0.9);

$red: hsl(0, 93%, 60%);
$red-100: hsl(0, 93%, 60%, 0.1);
$red-200: hsl(0, 93%, 60%, 0.2);
$red-300: hsl(0, 93%, 60%, 0.3);
$red-400: hsl(0, 93%, 60%, 0.4);
$red-500: hsl(0, 93%, 60%, 0.5);
$red-600: hsl(0, 93%, 60%, 0.6);
$red-700: hsl(0, 93%, 60%, 0.7);
$red-800: hsl(0, 93%, 60%, 0.8);
$red-900: hsl(0, 93%, 60%, 0.9);

$green: hsl(120, 100%, 62%);

$color: hsl(0, 0%, 100%);
