@font-face {
  font-family: Raleway;
  src: url("../../assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-bold;
  src: url("../../assets/fonts/Raleway/Raleway-Bold.ttf");
}
