div {
  &.signup-form {
    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.925rem;

      h6 {
        width: 18.75rem;
        font-size: 0.8rem !important;
      }
    }
    .button {
      margin-top: 1.2rem;      
    }
  }
}