@use "../styles/global/color" as *;

@font-face {
  font-family: Montserrat-medium;
  src: url("../assets/font/MontserratPoppins/Montserrat/montserrat/Montserrat-Medium.ttf");
}

div {
  &.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-medium;
  }
}
