* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #40425E;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
}
